:root {
    /* color */
    --clr-neutral-400: hsl(0, 0%, 20%);
    --clr-neutral-450: hsl(0, 0%, 95%);
    --clr-neutral-500: hsl(0, 0%, 100%);

    --clr-accent-400: #577590;
    --clr-accent-500: #f3ca40;

    /* font-family */
    --ff-primary: 'Open Sans', sans-serif;

    --ff-body: var(--ff-primary);

    /* font-weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* font-size */
    --fs-300: 0.8rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 1.4rem;
    --fs-700: 1.6rem;

    --fs-body: var(--fs-400);
    --fs-primary-header: var(--fs-700);
    --fs-secondary-header: var(--fs-600);
    --fs-tertiary-header: var(--fs-500);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid red !important; */
}

/* body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
} */

/* horizontal container */
.container {
    width: clamp(320px, 90vw, 70rem);
    margin: 0 auto;
}

/* header container */

/* book form and book list container */
.side-by-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 1rem;
    border-radius: 1rem;
}

/* book form container */
.form-group {
    display: flex;
    flex-direction: column;
}


input {
    /* reset appearance */
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    border: 1px solid var(--clr-neutral-400);
    border-radius: 1px;
    padding: 0.4rem 0.6rem;
}

/* book list container */
.book-list {
    flex-grow: 1;
    flex-shrink: 3;
}

table {
    width: 100%;
}

th,
td {
    padding: 0 0.5rem;
    text-align: left;
}

th:nth-child(6) {
    width: 0;
}


/* utility classes */

/* text color */
.text-neutral-400 {
    color: var(--clr-neutral-400);
}
.text-neutral-450 {
    color: var(--clr-neutral-450);
}
.text-neutral-500 {
    color: var(--clr-neutral-500);
}
.text-accent-400 {
    color: var(--clr-accent-400);
}
.text-accent-500 {
    color: var(--clr-accent-500);
}

/* background-color */
.bg-neutral-400 {
    background-color: var(--clr-neutral-400);
}
.bg-neutral-450 {
    background-color: var(--clr-neutral-450);
}
.bg-neutral-500 {
    background-color: var(--clr-neutral-500);
}
.bg-accent-400 {
    background-color: var(--clr-accent-400);
}
.bg-accent-500 {
    background-color: var(--clr-accent-500);
}

/* font-family */
.ff-body {
    font-family: var(--ff-body);
}

/* font-weight */
.fw-light {
    font-weight: var(--fw-light);
}
.fw-regular {
    font-weight: var(--fw-regular);
}
.fw-medium {
    font-weight: var(--fw-medium);
}
.fw-semibold {
    font-weight: var(--fw-semibold);
}
.fw-bold {
    font-weight: var(--fw-bold);
}

/* font-size */
.fs-body {
    font-size: var(--fs-body);
}
.fs-h1 {
    font-size: var(--fs-primary-header);
}
.fs-h2 {
    font-size: var(--fs-secondary-header);
}
.fs-h3 {
    font-size: var(--fs-tertiary-header);
}